@charset "UTF-8";

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
h1 {
    background-color: aliceblue;
    color: black;
}
h2 {
    color: cadetblue;
}
p {
   text-align: justify; 
}